version: '3'
services:

  #PHP Services

  
  #Nginx Service
  devbox-webserver:
    image: nginx:alpine
    container_name: webserver-devbox
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
      - ./docker/cert/:/etc/ssl/certs/
    networks:
      - devbox-network

  #MariaDB Service
  devbox-db:
    image: mariadb:latest
    container_name: mariadb-devbox
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: root
      SERVICE_TAGS: dev
      SERVICE_NAME: mariadb 
    volumes:
      - ./docker/mysql/data/:/var/lib/mysql/
      - ./docker/mysql/my.cnf:/etc/mysql/my.cnf
      - ./docker/mysql/seeds/:/docker-entrypoint-initdb.d
    networks:
      - devbox-network
  #mysql
  #my.cnf innodb_data_file_path = ibdata1:10M:autoextend
  #command: --default-authentication-plugin=mysql_native_password
  #MYSQL_ROOT_PASSWORD: 'root'
  #MYSQL_DATABASE: 'dbname'
  #MYSQL_USER: 'root'
  #MYSQL_PASSWORD: 'root'
  #MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

  devbox-redis:
      image: "redis:alpine"
      command: redis-server
      container_name: redis-devbox
      restart: unless-stopped
      ports:
       - "6379:6379"
      volumes:
        - ./docker/redis/redis-data:/var/lib/redis
        - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
      environment:
        - REDIS_REPLICATION_MODE=master
      networks:
        - devbox-network
        
  #Sphinx Search service
  primeros-sphinx:
    image: macbre/sphinxsearch:3.3.1
    ports:
    - "36307:36307" # bind to local interface only!
    volumes:
    - ./docker/sphinx/data:/opt/sphinx/index  # directory where sphinx will store index data
    - ./docker/sphinx/data:/var/data/sphinxsearch
    - ./docker/sphinx/sphinx.conf:/opt/sphinx/etc/sphinx.conf # SphinxSE configuration file
    - ./docker/sphinx/sphinx.conf:/opt/sphinx/conf/sphinx.conf # SphinxSE configuration file
    mem_limit: 512m # match indexer.value from sphinx.conf
    networks:
        - devbox-network

#Docker Networks
networks:
  devbox-network:
    driver: bridge
